/* Landing Section Styles */
#main-section {
  padding: 0;
  width: var(--ls-full);
  height: 100vh;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-section img {
  width: var(--ls-full);
  height: var(--ls-full);
  min-width: 1280px;
  position: absolute;
  object-fit: cover;
}

#main-section .landing-text-box {
  z-index: 10;
}

#main-section .landing-text-box h1 {
  font-size: var(--fs-title);
  height: auto;
  font-weight: var(--fw-400);
}

#main-section .landing-text-box p {
  padding: var(--el-medium) 0;
  width: var(--ls-1-3);
}

/* Meet Section Styles */
.meet-section .meet-wrapper {
  width: var(--ls-full);
  height: auto;
  display: flex;
  align-items: center;
}

.meet-section .meet-image-box {
  width: var(--ls-1-2);
  display: flex;
  align-items: center;
  column-gap: var(--el-medium);
}
.meet-section .meet-left-image {
  width: var(--ls-1-2);
  display: flex;
  flex-direction: column;
  row-gap: var(--el-medium);
  align-items: flex-end;
}
.meet-section .meet-right-image {
  width: var(--ls-1-2);
}

.meet-section .meet-text-box {
  width: var(--ls-1-2);
}

.meet-section .meet-text-box h4 {
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
}

.meet-section .meet-text-box p {
  font-size: var(--fs-18);
  line-height: 1.8;
  width: 80%;
  padding: var(--el-wide) 0 var(--el-medium);
  color: #333;
  position: relative;
}

.meet-section .meet-text-box p::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  left: 0;
  bottom: 0;
  position: absolute;
}

.meet-section .meet-text-box span {
  font-size: var(--fs-18);
  padding-top: var(--el-medium);
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.meet-section .meet-text-box span:before {
  content: '';
  width: 30px;
  height: 1px;
  background: #333;
  display: block;
}

.meet-section .meet-image-box img {
  width: var(--ls-full);
}
.meet-section .meet-left-image img:last-child {
  /* display: block;
  margin-left: auto; */
  width: 70%;
  height: auto;
}

.feature-section.section {
  padding: var(--el-section-small) 0;
}

.feature-section .features {
  width: var(--ls-full);
  display: flex;
  justify-content: space-around;
}

.feature-section .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--el-wide);
}

.feature-section .feature h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
  padding: var(--el-medium);
}

.feature-section .feature p {
  font-size: var(--fs-small-text);
  text-align: center;
}
